[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dateback"]
	path = dateback
	url = https://github.com/r-suzuki/dateback
[submodule "pvclust"]
	path = pvclust
	url = https://github.com/cran/pvclust
